	<!doctype html>
<html>
	<head>
		<title>Database</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- can use /posts.css or posts.css -->
	</head>
	<style>
		#card-des:hover{
			 opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    visibility: visible;	
    border-bottom: 10px gray;
    border-left: 10px gray;
    box-shadow: 4px 4px 7px gray;
    transition: box-shadow 0.2s;
		}
	</style>
	<body>  

		<!-- navbar -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav navbar-right">
		      <li class="nav-item active">
		        <a class="nav-link" href="/course">Home <span class="sr-only">(current)</span></a>
		      </li>

			      
				<% if(userDetails !== undefined && userDetails !== null ) { %>
					
			       <li class="nav-item">
						<a class="nav-link " href="/course"> logged in as <%=userDetails.username%></a>
			      </li>
			       <li class="nav-item">
						<a class="nav-link " href="/logout">logout</a>
			       </li>
				<% }else{ %>
					<li class="nav-item">
						<a class="nav-link" href="/login">login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">SignUp</a>
					</li>
				<% } %>

		    </ul>
		  </div>
		</nav>