<%include ./partials/header.ejs%>
<h1>Sign Up</h1>
<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
		<select name="type" class="form-control" id="exampleFormControlSelect1">
		<option selected>Student</option>
		<option>Professor</option>
		<option>Teaching Assistant</option>
		</select>
 
	<button class="btn btn-lg">Sign Up</button>
</form> 
<%include ./partials/footer.ejs%>
