<%include ../partials/header.ejs%>
		<div class="container mx-auto  " style="text-align: center; margin-top: 12%;background: #d5dde0;padding-left: 0px;padding-right: 0px;margin-left: 1px;margin-right: 0px">
			<h1>Add New Course</h1>
		<br>
		<div style="width:30% ;margin:auto;">
			<form  action="/course" method="POST">
			<div class="form-group">
				<input class="form-control" placeholder="name" name="name" type="text">
			</div>
			<div class="form-group">
				<input class="form-control" placeholder="image-url" name="image" type="text">
			</div>
			
			<button class="btn btn-md btn-primary btn-block">Add it</button>
		</form>
		</div>
		<br>
		<a href="/course"><button class="btn " style="background: #b4b8ab">back</button></a>
		</div>
<%include ../partials/footer.ejs%>