<%include ../partials/header.ejs%>

<div class="container" >
	<div class="row">
		<div class="col-md-3">
			<h3>Dashboard</h3>
			<div class="list-group">

			</div>
		</div>
		<div class="col-md-9" >

			<div class="thumbnail">
				<img class="img-responsive" src= "<%=emp_data.image %> " alt="course">
					<h4 >  <%=emp_data.name%></h4>
						<a href="/course/<%=emp_data._id%>/edit" class="btn btn-md btn-success">Edit</a>
						<form id="deletebutton" action="/course/<%=emp_data._id%>/delete" method="GET"> 
							<button class="btn btn-md btn-danger">Delete</button>
						</form>
				</div>
			</div>
		</div>	
	</div>
</div>
<%include ../partials/footer.ejs%>